.small-text {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    line-height: 22px;
    font-weight: normal;
}

.super-small-text {

}

.grey-text {
    color: #929292;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: black;
    width: 100%;
    background-color: #F4F4F3;
    margin: 0;
}

.header {
    max-width: 1110px;
    width: 100%;
    height: 55px;
    margin: 8px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.header-logo {
    display: inherit;
    align-items: inherit;
    text-decoration: none;

}
.header-logo__img {
}
.header-logo__text {
    margin-left: 25px;
    font-family: Russo One;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 27px;
    color: #000000;
}

.header-contacts__phone {
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin-right: 10px;
}

.header-contacts__text {
    color: #929292;
}

.header-nav {
    /* position: absolute; */
    /* margin: 0 auto; */
    position: sticky;
    top: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
    margin-bottom: 8px;
    z-index: 999;
}
.header-nav-container {
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 60px;
}

.header-nav__item {
    color: black;
    text-decoration: none;
    margin-right: 62px;
    /* height: 60px; */
    vertical-align: middle;
    padding: 20px 10px;
    font-size: 14px;
    line-height: 20px;
    position: relative;
}
.header-nav__item_active {
    color: #436EA4;
}
.header-nav__item_active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 6px;
    background-color: #436EA4;
}

.header-nav__item:last-child {
    margin-right: 0;
}
.header-nav__item:hover {
    color: #436EA4;
}

.main-search {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    margin-top: 16px;
    display: flex;
    align-items: center;
    background-color: white;
}

.main-search__input {
    height: 46px;
    width: 100%;
    border: none;
}

.main-search__btn {
    margin-right: 2px;
    width: 84px;
    height: 42px;
    background-color: #5B92D3;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    outline: none;
    transition: all 0.1s ease;
}

.main-search__btn:hover {
    background-color: #436EA4;
}

.main-search__btn:active {
    background-color: #36567E;
    transform: scale(0.94);
}

main {
    margin: 0 auto;
    margin-top: 50px;
    max-width: 1110px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.content {
    /* margin-top: 50px; */
    display: flex;
    flex-direction: column;
}

.content_slider {
    height: 300px;
    width: 730px;
}

.slider_wrapper {

}

.content_features {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    height: 150px;
    width: 730px;
    justify-content: space-between;
}

.prepare_docs, .order_status {
    width: 350px;
    height: 150px;
    background-color: #fff;
}

.clients, .reasons {
    margin-top: 40px;
    width: 730px;
    height: 200px;
    background-color: #fff;
}

.filter {
    width: 350px;
    height: 1000px;
    background-color: #fff;
    padding: 16px;
    box-sizing: border-box;
}

.filter__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.filter__header::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #ECECEC;
    z-index: 1;
}

.filter__type {
    height: 50px;
    font-size: 12px;
    line-height: 50px;
    cursor: pointer;
    position: relative;
}

.filter__type:hover {
    color: #436EA4;
}

.filter__header>input:checked + .filter__type {
    color: #436EA4;
}

.filter__header>input:checked + .filter__type:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: #436EA4;
    z-index: 2;
}

.filter__group_checkbox {
    position: relative;

}
.filter__group_checkbox::before {
    content: none;
    /* background-image: url(../img/checkbox.svg); */
    width: 18px;
    height: 18px;
    /* background-size: contain; */
    background-color: red;

}
